<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Triangles</title>
</head>
<body>
    <h1>Hello, Hillel Homeworks</h1>
    <h2>HW_8: Triangle</h2>
        <p><a href="{% url 'triangle:triangle-form' %}">Triangle</a></p>
    <h2>HW_9: Catalog</h2>
        <p><a href="{% url 'catalog:index' %}">Catalog</a></p>
    <h2>HW_10: Person</h2>
        <p><a href="{% url 'triangle:person-form' %}">Person</a></p>
        <p><a href="{% url 'triangle:person-list' %}">Person list</a></p>
</body>
</html>